*{
    padding:0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
body h1{
    margin-top: 20px;
    font-family: 'Roboto',sans-serif;
}

.header{
    font-family: "Roboto",sans-serif;
    display: flex;
    background-color:rgb(96, 188, 115) ;
    justify-content: space-around;
    padding-top: 10px;
    font-weight: bold;
    color: white;
}
p,li{
    padding: 0;
    margin: 0;
}
ul, a{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: rgb(227, 227, 227);
    gap: 10px;
    font-weight:400;
}
.Hero{
    display: flex;
    background-color:rgb(96, 188, 115) ;
    padding: 80px;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;

}
.Left-link{
    width: 400px;
}
h1{
    font-family: "Roboto";
    font-weight: 900;
    font: 48px;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(234, 255, 202);
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;

}
.Hero img{
    filter: brightness(110%);
    border-radius: 10px;
    box-shadow: 10px 8px rgb(0, 0, 0);
}
.body{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    /* gap: 20px; */
}
.cardsCont{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 30px;
    padding: 10px;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.cards img{
    width:200px;
    height:150px;
    border-radius: 10px;
    border: 5px solid rgb(122, 150, 122);
    filter: brightness(110%);
}
.cards h1{
    font-size: 16px;
    margin: 10px 0px;
}
.cards p{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: grey;
}

.qCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    height: 400px;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(230, 230, 230);
}
.quote{
    display: flex;
    flex-wrap: wrap;
}
.quote em{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: rgb(44, 44, 44);
    width: 600px;
    flex-wrap: wrap;
}

strong{
    font-family: "Roboto";
    margin-top: 10px;
    font-size: 20px;
}

.CTACont{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color:rgb(255, 255, 255) ;

}
.CTABox{
    display: flex;    
    padding:30px;
    background-color: rgb(92, 253, 103);
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
}
.CTABox h1{
    font-size: 20px;
}
.CTA-left{
    display: flex;
    flex-direction: column;
}
.CTABox button{
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(133, 255, 162);
    height: 100px;
    align-items: center;
}
.About{
    display: inline-flex;
    background-color:rgb(96, 188, 115) ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
.About img{
    display: inline-flex;
    height: 400px;
    background-color:rgb(96, 188, 115) ;
}
.AboutCont{
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    display: flex;
    width: 600px;
    line-height: 30px;
}